@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/raleway-v14-latin-regular.woff2') format('woff2'), url('/fonts/raleway-v14-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/raleway-v14-latin-700.woff2') format('woff2'), url('/fonts/raleway-v14-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/quicksand-v19-latin-regular.woff2') format('woff2'), url('/fonts/quicksand-v19-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/quicksand-v19-latin-700.woff2') format('woff2'), url('/fonts/quicksand-v19-latin-700.woff') format('woff');
}

html {
  font-family: Raleway, sans-serif;
  font-size: 70%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Quicksand, sans-serif;
  letter-spacing: .05em;
}

@media only screen and (min-width: $bp-ls-phones) {
  html {
    font-size: 80%;
  }
}

@media only screen and (min-width: $bp-tablets) {
  html {
    font-size: 90%;
  }
}

@media only screen and (min-width: $bp-desktops) {
  html {
    font-size: 95%;
  }
}

@media only screen and (min-width: $bp-large-desktops) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: $bp-huge-desktops) {
  html {
    font-size: 120%;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.2rem;
}
