/* Break point for landscape phones */
$bp-ls-phones: 576px;

/* Break point for tablets */
$bp-tablets: 768px;

/* Break point for desktops */
$bp-desktops: 992px;

/* Break point for larger desktops */
$bp-large-desktops: 1200px;

/* Break point for very large desktops */
$bp-huge-desktops: 1920px;
